{% extends 'base.html' %}
{% block body %}
<style>
    h3{
    text-align:center;
    }
</style>
<h3>{{novel.name}}</h3>
<div class="container">
    <div class="row">
        <div>
            <img src="{{novel.img.url}}" height="200" width="300" >
        </div>
        <div>
            <h6>{{novel.year}}</h6>
            <p>{{novel.desc}}</p>
            <a class="btn btn-warning" href="{% url 'newapp:update' novel.id %}"> Update </a>
            <a class="btn btn-danger" href="{% url 'newapp:delete' novel.id %}"> Delete </a>
            <a href="{% url 'newapp:fun1' %}" class="btn btn-primary"><-</a>
        </div>
    </div>
</div>

{% endblock %}