{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in novels %}
        <div class="col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" height="200" width="300" >
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <a href="{%url 'newapp:details' i.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}